# PostgreSQL connection string
# Format: postgresql://USER:PASSWORD@HOST:PORT/DBNAME
DATABASE_URL=Your_URL

#Gemini API Key for Layer 3 Action Plan Generation
GEMINI_API_KEY=your_google_ai_studio_api_key_here

#Resend API Key for Layer 6 Alert System
RESEND_API_KEY=your_api_key

#emails
SENDER_EMAIL=onboarding@resend.dev
DEMO_OFFICER_EMAIL=your_personal_email_registered_on_resend@example.com